* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  padding: 8px;
  line-height: 1;
  display: flex;
}

.changeMonthButton {
  padding: 0 16px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 24px;
}

.changeMonthButton:hover {
  background-color: #efefef;
}

.currentMonth {
  font-size: 1.5rem;
  font-weight: bold;
  border: solid 1px #e0e0e0;
  padding: 8px;
  margin: 0 8px;
}

@media print {
  .printButton {
    display: none;
  }
}

.printButton {
  padding: 0 16px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 24px;
}

.printButton:hover {
  background-color: #efefef;
}

.calenderArea {
  flex: 1;
}

.calender {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.calender td,
.calender th {
  text-align: center;
  border: 1px solid #a0a0a0;
  padding: 8px;
  vertical-align: top;
}

.colInner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.colDate {
  margin-bottom: 4px;
}

.colTextarea {
  font-size: 24px;
  width: 100%;
  flex: 1;
  border: solid 1px #e0e0e0;
  resize: none;
  outline: none;
}

.colNotEmpty {
  background-color: #b2c6e0;
}

.colNotCurrentMonth {
  background-color: #efefef;
}

.colNotCurrentMonth .colDate {
  color: #a0a0a0;
}
